/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/
/* Small Desktop - 1024px */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 64rem) {
  #cs-navigation {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0px;
    background-color: #623413;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 10000;
    margin: 0px;
  }
  #cs-navigation .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    font-family: 'Abel', sans-serif;
    color: white;
  }
  #cs-navigation .cs-toggle {
    display: none;
  }
  #cs-navigation .cs-logo {
    width: 18.4%;
    max-width: 21.875rem;
    height: 4.0625rem;
    /* margin-right auto pushes everything away from it to the right */
    margin: 0 auto 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

  }
  #cs-navigation .cs-logo img {
    width: 100%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }
  #cs-navigation .cs-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 20px - 36px */
    gap: clamp(1.25rem, 2.6vw, 2.25rem);
  }
  #cs-navigation .cs-li {
    list-style: none;
    padding: 2rem 0;
    /* prevent flexbox from squishing it */
    flex: none;
  }
  #cs-navigation .cs-li-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
    position: relative;
  }
  #cs-navigation .cs-li-link:hover:before {
    width: 100%;
  }
  #cs-navigation .cs-li-link.cs-active:before {
    width: 100%;
  }
  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 0%;
    height: 2px;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 0rem;
    left: 0;
    transition: width 0.3s;
  }
  #cs-navigation .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #cs-navigation .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #ED9B33;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #cs-navigation .cs-button-solid:hover:before {
    width: 100%;
  }
}
                                


/*-- -------------------------- -->
<---           Hero 1             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1785 {
    /* 200px - 300px - leaving extra space for the navigation */
    padding: clamp(12.5rem, 25.95vw, 18.75em) 1rem;
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
    color: white;
    font-family: "Roboto", sans-serif;
  }
  #hero-1785 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    color: white;
  }
  #hero-1785 .cs-content {
    text-align: center;
    width: 100%;
    max-width: 46.875rem;
    color: beige;
    font-family: "Roboto", sans-serif;

  }
  #hero-1785 .cs-title {
    /* 49px - 84px */
    font-size: clamp(3.0625rem, 6vw, 5.25rem);
    color: white;
    font-family: 'Abel', sans-serif;

  }
  #hero-1785 .cs-title,
  #hero-1785 .cs-text {
    margin-top: 2rem;
    color: var(--bodyTextColorWhite);
  }
  #hero-1785 .cs-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 46.875rem;
    color: white;
  }
  #hero-1785 .cs-button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    color: white;
  }
  #hero-1785 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 12.5rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    color: white ; /* Change the text color to red */
  }
  #hero-1785 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #ED9B33;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-1785 .cs-button-solid:hover:before {
    width: 100%;
  }

  #hero-1785 .cs-button-solid:hover {
    color: white; /* Ensure the text color remains red on hover */
  }

  #hero-1785 .cs-graphic {
    width: 100%;
    min-width: 120rem;
    height: auto;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 0;
    transform: translateX(-50%);
    color: white;
  }
  #hero-1785 .cs-graphic-dark {
    display: none;
  }
  #hero-1785 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-1785 .cs-background:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
    opacity: 0.7;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #hero-1785 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Large Desktop - 1920px */
@media only screen and (min-width: 120rem) {
  #hero-1785 {
    /* this ties the padding bottom value to the size of the screen width. The wider the image gets the taller it gets, meaning it will get clsoer and closer to the content. This makes the padding bottom value grow with the screen size so it accounts for the growing height of the svg graphic getting taller */
    padding-bottom: 14vw;
  }
}


/*-- -------------------------- -->
<---            Hero 2            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-856 {
    /* centers button */
    text-align: center;
    /* 116px - 164px top */
    /* 60px - 100px  bottom */
    padding: clamp(7.25rem, 16.82vw, 3em);
    background-color: #ED9B33;
    /* clips the svg wave from overflowing */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-856 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
  #hero-856 .cs-content {
    max-width: 39.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Abel', sans-serif;
    color: #623413;
  }
  #hero-856 .cs-topper {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-top: 2rem;
    margin-bottom: 0.25rem;
    display: block;
  }
  #hero-856 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    /* 23 characters including spaces wide */
    max-width: 23ch;
    margin: 0 0 0;
    color: var(--headerColor);
    position: relative;
    margin-bottom: 7rem;
  }
  #hero-856 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    max-width: 37rem;
    /* 28px - 40px */
    margin: 0 0 clamp(1.75rem, 3.92vw, 2.5rem) 0;
    color: var(--bodyTextColor);
  }

  #hero-856 .cs-picture {
    width: 100%;
    max-width: 35.625rem;
    /* 400px - 712px */
    height: clamp(25rem, 80vw, 44.5rem);
    /* 100px - 200px */
    border-radius: 0 clamp(6.25rem, 17vw, 12.5rem) 0 clamp(6.25rem, 17vw, 12.5rem);
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.16);
    /* clips the img tag corners */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #hero-856 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act as a background image */
    object-fit: cover;
    /* ensures the top of the images is at the top of the container, no heads getting cut off */
    object-position: top;
  }
  #hero-856 .cs-wave {
    /* we're stretching the svg wider than the viewport so it's taller and has more of a presence */
    width: 320%;
    height: auto;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -1px;
    transform: translateX(-50%);
    z-index: -1;
    color: #ED9B33;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-856 {
    text-align: left;
  }
  #hero-856 .cs-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #hero-856 .cs-content {
    width: 40vw;
    /* prevents flex-box from squishing it */
    flex: none;
    align-items: flex-start;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #hero-856 .cs-title,
  #hero-856 .cs-text {
    text-align: left;
  }
  #hero-856 .cs-picture {
    /* 623px - 814px */
    height: clamp(38.20rem , 30vw, 30rem);
  }
  #hero-856 .cs-wave {
    width: 100%;
    left: 0;
    color: #ED9B33;
    /* flips it horizontally */
    transform: scaleX(-1);
  }
}
                                
/*-- -------------------------- -->
<---           Customer Reviews            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-1229 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        padding: clamp(7.25rem, 16.82vw, 3em);
    }
    #stats-1229:before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/chevron-pattern-light3.svg");
        background-position: center;
        background-size: auto;
        background-repeat: repeat;
        opacity: 0.3;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #stats-1229 .cs-container {
        /* changes to 1280px at desktop */
        max-width: 36.5rem;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
        font-family: 'Abel', sans-serif;
        color: #623413;
    }
    #stats-1229 .cs-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        margin-left: 5rem;
    }
    #stats-1229 .cs-flex {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #stats-1229 .cs-title {
        max-width: 20ch;
        padding: 1rem;
    }
    #stats-1229 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* 16px - 20px */
        gap: clamp(1rem, 2vw, 1.25rem);
    }
    #stats-1229 .cs-item {
        list-style: none;
        width: 100%;
        /* prevents padding and border from affecting height and width */
        /* 16px - 40px top & bottom */
        /* 16px - 32px left & right */
        padding: clamp(1rem, 3vw, 2.5rem) clamp(1rem, 2.5vw, 2rem);
        box-sizing: border-box;
        background: #f7f7f7;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        gap: 0.75rem;
        /* clips cs-icon overflowing */
        overflow: hidden;
        grid-column: span 6;
    }
    #stats-1229 .cs-icon {
        /* 32px - 40px */
        width: clamp(2rem, 3vw, 2.5rem);
        height: auto;
        margin: 0;
        flex: none;
    }
    #stats-1229 .cs-h3 {
        /* 16px - 25px */
        font-size: clamp(1rem, 2vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: 900;
        width: 100%;
        margin: 0;
        color: var(--headerColor);
        /* wraps longer words on the smallest screen sizes */
        overflow-wrap: break-word;
    }
    #stats-1229 .cs-stat-group {
        width: 100%;
        margin: auto;
        padding: 0;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(6, 1fr);
    }
    #stats-1229 .cs-stat {
        list-style: none;
        margin: 0;
        /* 16px - 40px */
        padding: clamp(1rem, 3vw, 2.5rem) 1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        grid-column: span 2;
        /* border code */
        /* remove the border on the far-right elements */
        /* makes the last two items span across multiple columns. changes at desktop to one line */
    }
    #stats-1229 .cs-stat:before {
        content: "";
        width: 2px;
        height: 100%;
        background: linear-gradient(
            0deg,
            rgba(72, 72, 72, 0) 0%,
            #484848 50%,
            rgba(72, 72, 72, 0) 100%
        );
        position: absolute;
        top: 0;
        right: 0;
    }
    #stats-1229 .cs-stat:nth-of-type(3):before,
    #stats-1229 .cs-stat:nth-of-type(5):before {
        content: none;
    }
    #stats-1229 .cs-stat:nth-of-type(4),
    #stats-1229 .cs-stat:nth-of-type(5) {
        grid-column: span 3;
    }
    #stats-1229 .cs-desc {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: center;
        /* keeps the width of the stat description from overflowing onto the border */
        /* 88px - 176px */
        width: clamp(5.5rem, 20vw, 11rem);
        margin-bottom: 0.5rem;
        color: #858585;
        display: block;
    }
    #stats-1229 .cs-number {
        /* 25px - 49px */
        font-size: clamp(1.5625rem, 3vw, 3.0625rem);
        line-height: 1.2em;
        font-weight: 900;
        margin: 0;
        color: var(--headerColor);
        display: block;
    }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #stats-1229 .cs-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #stats-1229 .cs-card-group {
        display: grid;
        /* makes all grid items stretch to have the same height if their content isn't all the same height */
        align-items: stretch;
        grid-template-columns: repeat(2, 1fr);
    }
    #stats-1229 .cs-item {
        grid-column: span 1;
        flex-direction: row;
        align-items: center;
    }
    #stats-1229 .cs-stat-group {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #stats-1229 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #stats-1229 .cs-content {
        flex-direction: row;
        align-items: center;
    }
    #stats-1229 .cs-title {
      max-width: none;
        font-size: xx-large;
        margin-bottom: 1rem;
    }
    #stats-1229 .cs-text-name {
        max-width: none;
        margin-left: 1rem;
    }
    #stats-1229 .cs-text-description {
        max-width: none;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    #stats-1229 .cs-card-group {
        width: 50%;
        /* prevents flexbox from squishing it */
        flex: none;
    }
    #stats-1229 .cs-stat-group {
        max-width: 80rem;
        grid-template-columns: repeat(4, 1fr);
    }
    #stats-1229 .cs-stat {
        grid-column: span 1;
    }
    #stats-1229 .cs-stat:nth-of-type(4),
    #stats-1229 .cs-stat:nth-of-type(5) {
        grid-column: span 1;
    }
    #stats-1229 .cs-stat:nth-of-type(3):before {
        content: "";
    }
}
             

/*-- -------------------------- -->
<---            Newsletter             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-1394 {
      /* 60px - 124px top and bottom */
      padding: clamp(3.75rem, 7.82vw, 7.75rem) 1rem;
      background-color: #1a1a1a;
      position: relative;
      overflow: hidden;
      z-index: 1;
  }
  #cta-1394 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
      position: relative;
      z-index: 1;
      font-family: 'Abel', sans-serif;
      color: #ED9B33;
  }
  #cta-1394 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      max-width: 32.625rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      position: relative;
      z-index: 1;
  }
  #cta-1394 .cs-content:before {
      /* circle overlay */
      content: "";
      width: 48.375rem;
      height: 48.375rem;
      background: #1a1a1a;
      opacity: 0.8;
      border-radius: 50%;
      position: absolute;
      display: block;
      /* -36px to -92px */
      top: calc(clamp(2.25rem, 6vw, 5.75rem) * -1);
      left: 50%;
      z-index: -1;
      transform: translateX(-50%);
  }

  #cta-1394 .cs-title {
    max-width: 31.25rem;
    color: var(--bodyTextColorWhite);
    margin-bottom: 1rem;
}
  #cta-1394 .cs-text {
      max-width: 31.25rem;
      color: var(--bodyTextColorWhite);
  }
  #cta-1394 .cs-text {
      margin-bottom: 2rem;
      opacity: 0.8;
  }
  #cta-1394 .cs-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;
      position: relative;
      z-index: 1;
  }
  #cta-1394 .cs-input {
      font-size: 1rem;
      width: 100%;
      /* 46px - 72px */
      height: clamp(2.875rem, 8vw, 4.5rem);
      margin: 0;
      padding: 0;
      padding-left: 1.25rem;
      border: none;
      border-radius: 5rem;
      /* prevents padding from adding to width and height */
      box-sizing: border-box;
      display: block;
  }
  #cta-1394 .cs-input::placeholder {
      color: #767676;
  }
  #cta-1394 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 2rem;
      overflow: hidden;
      background-color: var(--primary);
      border-radius: 5rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
  }
  #cta-1394 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #623413;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
  }
  #cta-1394 .cs-button-solid:hover {
      cursor: pointer;
  }
  #cta-1394 .cs-button-solid:hover:before {
      width: 100%;
  }
  #cta-1394 .cs-submit {
      width: 100%;
      border: none;
  }
  #cta-1394 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      color: #ED9B33;
  }
  #cta-1394 .cs-background img {
      height: 100%;
      width: 100%;
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      color: #ED9B33;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cta-1394 .cs-container {
      max-width: 80rem;
  }
  #cta-1394 .cs-input {
      width: 100%;
  }
  #cta-1394 .cs-submit {
      width: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0.5rem;
  }
  #cta-1394 .cs-picture {
      width: 50%;
  }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer-274 {
      padding: var(--sectionPadding);
      background-color: #ED9B33;
      /* Navigation Links */
  }
  #cs-footer-274 .cs-container {
      width: 100%;
      /* reset on tablet */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      column-gap: 5.5rem;
      row-gap: 2rem;
      padding: 3rem;
  }
  #cs-footer-274 .cs-logo-group {
      /* takes up all the space, lets the other ul's wrap below it */
      width: 100%;
      position: relative;
  }
  #cs-footer-274 .cs-logo-group {
      /* 44px - 52px */
      margin-bottom: clamp(2.75rem, 6.8vw, 3.25rem);
  }
  #cs-footer-274 .cs-logo {
      /* 210px - 240px */
      width: clamp(13.125rem, 8vw, 15rem);
      height: auto;
      display: block;
  }
  #cs-footer-274 .cs-logo-img {
      width: 100%;
      height: auto;
  }
  #cs-footer-274 .cs-social {
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0.75rem;
      position: absolute;
      top: 0;
      right: 0;
  }
  #cs-footer-274 .cs-social-link {
      width: 1.5rem;
      height: 1.5rem;
      background-color: #4e4b66;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      transition:
          transform 0.3s,
          background-color 0.3s;
  }
  #cs-footer-274 .cs-social-link:hover {
      background-color: var(--primary);
      transform: translateY(-0.1875rem);
  }
  #cs-footer-274 .cs-social-img {
      height: 0.8125rem;
      width: auto;
      display: block;
  }
  #cs-footer-274 .cs-nav {
      padding: 0;
      margin: 0;
      font-family: 'Abel', sans-serif;
      color: #623413;
  }
  #cs-footer-274 .cs-nav-li {
      list-style: none;
      margin: 0;
      color: var(--bodyTextColor);
  }
  #cs-footer-274 .cs-header {
      font-size: 1rem;
      line-height: 1.5em;
      font-weight: 700;
      /* 16px - 20px */
      margin-bottom: clamp(1rem, 2.7vw, 1.25rem);
      color: var(--bodyTextColor);
      position: relative;
      display: block;
  }
  #cs-footer-274 .cs-nav-link {
      font-size: 1rem;
      text-decoration: none;
      line-height: 1.5em;
      color: var(--bodyTextColor);
      position: relative;
  }
  #cs-footer-274 .cs-nav-link:before {
      /* underline */
      content: "";
      width: 0%;
      height: 0.125rem;
      background: var(--bodyTextColor);
      opacity: 1;
      position: absolute;
      display: block;
      bottom: -0.125rem;
      left: 0;
      transition: width 0.3s;
  }
  #cs-footer-274 .cs-nav-link:hover:before {
      width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-footer-274 .cs-container {
      max-width: 80rem;
      row-gap: 0;
      /* 44px - 88px */
      column-gap: clamp(2.75rem, calc(6%), 5.5rem);
  }
  #cs-footer-274 .cs-logo-group {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
  }
  #cs-footer-274 .cs-social {
      flex-direction: row;
      position: relative;
      top: auto;
      right: auto;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-footer-274 .cs-container {
      justify-content: flex-end;
  }
  #cs-footer-274 .cs-logo-group {
      width: auto;
      margin: 0;
      /* pushes the rest of the content to the right in a flexbox */
      margin-right: auto;
      flex-direction: column;
  }
  #cs-footer-274 .cs-logo-img {
      margin-bottom: 2.75rem;
  }
  #cs-footer-274 .cs-nav {
      margin-top: 0.75rem;
  }
}

                              
                              